.about-container {
    padding: 20px;
}


.about-container h1 {
    text-align: left;
    font-size: 3rem;
    background: linear-gradient(90deg, #ff4d4d, #0085ff);
    display: inline-block;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    animation: fade-in 2s ease-in-out;
    font-family: 'Open Sans', sans-serif;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between;
    gap: 20px;

}

.text p {
    display:flex;
    margin-left: 100px;
    text-align: justify;
    max-height:500px;
    max-width: 700px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 10rem !important;
    font-size: 1.2rem;
    animation: fade-in 2s ease-in-out;
    letter-spacing: 1.2px !important;
    text-align: justify;
    
}


/* Dont look at this my bad! */
.text2 {
    flex: 2;
    background: linear-gradient(90deg, #6b4dff, #e22514);
    animation: fade-in 2s ease-in-out;
    font-size: 2.3rem !important;
    text-align:justify;
    margin-left:-500px;
    background-clip:text;
    display: inline-block;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.side-image {
    align-self: flex-start;
    height:300px;
    margin-right: 140px;
    animation: fade-in 2s ease-in-out;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px,1fr));
    gap:1px;
}

.grid-item {
    text-align:center;
    
}

.grid-logo {
    width:80px;
    height:80px;
    transition: transform 0.3s ease-in-out; 
}

.grid-logo:hover {
    transform: scale(1.2);
}

.grid-description {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.80em;
    
}

.download-link a {
    color: #138dac;
    text-decoration: none;
}

.download-link a:hover {
    color: grey;
}

