.App {
  text-align: center;
}

.header-logo{
  height: 80px !important;
}

.Website-header{
  font-family:'Courier New', Courier, monospace;
  padding: 20px;
  color: black;
  display:flex;
  align-items: center;
  background-color:#500001;

  
}

nav {
  margin-top: 20px;
  text-align: center;
  margin-top: 11px;
  color:black;
  font-size: 1.2rem !important;

}

.header-content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.header-logo {
  height: 40px;
}

nav a {
  display: inline-block;
  margin: 0 10px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin: auto;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  letter-spacing: 1px !important;
  color: black;
  transition: 0.2s ease;
  margin-top: 0;
  text-align:center;
}

nav a:hover{
  color:  #138dac;
  text-decoration: none;
}

.join-us-button{
  font-family:'Open Sans', sans-serif;
  color: black;
  background-color: whitesmoke;
  border: none;
  font-weight: 600 !important;
  letter-spacing: 1.5px !important;
  font-size: 0.8 rem;
  text-align:center;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px; 
  margin-left: auto;
  margin-right: 20px;
  white-space: nowrap;
  
  
  
}

.join-us-button:hover {
  background-color: #21a1f1;
}

