.App {
  text-align: center;
}

.header-logo{
  height: 40px;
}

.Website-header{
  font-family:'Courier New', Courier, monospace;
  padding: 20px;
  color: black;
  
}

nav {
  margin-top: 10px;
  text-align: center;
  margin-top: 11px;
  color:black;
  font-size: 1.2rem !important;

}

nav a {
  display: inline-block;
  margin: 0 10px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin: auto;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  letter-spacing: 1px !important;
  color: black;
  transition: 0.2s ease;
  margin-top: 0;
  text-align:center;
}

nav a:hover{
  color:  #138dac;
  text-decoration: none;
}

