.header-section {
    font-family: 'Open Sans', sans-serif;
    font-size:3rem !important;
    background: linear-gradient(90deg, #6b4dff, #e22514);
    animation: fade-in 2s ease-in-out;
    background-clip:text;
    display: inline-block;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

html {
    scroll-behavior: smooth;
}


.team-content {
    display: flex;
    justify-content:center;
    gap: 30px;
    text-align:center;
    margin-bottom: 30px;
}

.box  {
  padding: 17px;
  background: #1b1229;
  border-radius: 15px;
  transition: all .38s ease;
}

.box p {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-weight: 10rem !important;
}

.box:hover {
    transform:scale(1.08);
}

.officer-imges {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

